.experiencia .subtitulo{
    color: #e0e0e0;
}

.texto .experiencia strong{
    color: black;
}

.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    gap: 10px 20px;
}

.empresa::before{
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: absolute;
    left: -4px;
}

.empresa-ano{
    position: absolute;
    left: -40px;
    color: #525252;
    font-size: .875rem;
}

.empresa-titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-texto{
    font-size: .875rem;
    color: #525252;
    line-height: 1.4;
}

.empresa-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.empresa-habilidades li{
    font-size: .875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: #fff;
    padding: 5px 10px;

}

@media(max-width: 800px){
    .experiencia{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .experiencia .subtitulo{
        color: black;
    }

    .texto .experiencia{
        font-size: 1.25rem;
    }

    .empresa-ano{
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
        font-weight: bold;
    }
    .empresa{
        grid-template-columns: 1fr;
    }

    .subtitulo{
        text-align: center;
    }

    .texto .experiencia{
        text-align: center;
    }
}
